@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MessagingRealtime.Models.AppUser
<style>
    #myTabJust {
        background-color: #7571f9 !important;
    }
    #userSearch {
        width: 70%;
        height: 55px;
        border-radius: 30px;
    }
    #serachIcon{
        margin-top:-36px;
        margin-left:30%;
    }
</style>
<div class="container-fluid my-4">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Write in the text area on the left to start messaging!</p>
    </div>
    <div class="col-xl-12">
        <section class="mx-2 pb-3">
            <ul class="nav nav-tabs nav-justified md-tabs indigo" id="myTabJust" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab-just" data-toggle="tab" href="#home-just" role="tab" aria-controls="home-just"
                       aria-selected="true">Global Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab-just" data-toggle="tab" href="#profile-just" role="tab" aria-controls="profile-just"
                       aria-selected="false">Personal Chat</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contact-tab-just" data-toggle="tab" href="#contact-just" role="tab" aria-controls="contact-just"
                       aria-selected="false">Find User</a>
                </li>
            </ul>
            <div class="tab-content card pt-5" id="myTabContentJust">
                <div class="tab-pane fade show active" id="home-just" role="tabpanel" aria-labelledby="home-tab-just">
                    <div class="text-center">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="md-form">
                                            <textarea id="message" name="message" class="md-textarea form-control" rows="3"></textarea>
                                            <label for="message">Write here!</label>
                                        </div>
                                        <input id="username" value="@Model.UserName" hidden />
                                    </div>
                                    <div class="col-12 text-left">
                                        <input type="button" id="sendButton" class="btn btn-primary" value="Send" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div id="messages"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="profile-just" role="tabpanel" aria-labelledby="profile-tab-just">
                    <p>
                        Coming soon
                    </p>
                </div>
                <div class="tab-pane fade" id="contact-just" role="tabpanel" aria-labelledby="contact-tab-just">
                    <div class="text-center">
                        <div class="row">
                            <div class="col-lg-12">
                                @*<div class="form-group">
            <input type="text" id="userSearch" class="form-control mx-auto" style="width:70%;height:55px;border-radius:30px;" placeholder="Type the username you're looking for..." />
        </div>*@

                                <div class="form-group position-relative">
                                    <input type="text" id="userSearch" class="form-control mx-auto" placeholder="Type the username you're looking for...">
                                    <i id="serachIcon" class="fas fa-search fa-lg position-absolute"></i>
                                </div>
                               
                            </div>
                            <div class="col-lg-12">
                                <div id="searchResultCard">
                                    <ul id="searchResultList" style="list-style:none;">
                                        @* js generated code will be here*@
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

</div>
<script type="text/javascript" src="~/js/jquery-3.4.1.min.js"></script>
<script src="~/js/SearchUser.js"></script>
<script src="~/js/signalr.js"></script>
<script src="~/js/message.js"></script>
