@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

</div>
<div class="text-center">
    <div class="row">
        <div class="col-lg-4">
            <textarea name="message" id="message"></textarea>

            <div id="messages"></div>
        </div>
        <div class="col-lg-4">
            <input type="button" id="sendButton" class="btn btn-primary" value="Send" />
        </div>
    </div>
    <div class="row form-material">
        <div class="col-md-6">
            <label class="m-t-20">Default Material Date Picker</label>
            <input type="text" class="form-control" placeholder="2017-06-04" id="mdate">
            <label class="m-t-40">Default Material Date Timepicker</label>
            <input type="text" id="date-format" class="form-control" placeholder="Saturday 24 June 2017 - 21:44">
        </div>
        <div class="col-md-6">
            <label class="m-t-20">Time Picker</label>
            <input class="form-control" id="timepicker" placeholder="Check time">
            <label class="m-t-40">Min Date set</label>
            <input type="text" class="form-control" placeholder="set min date" id="min-date">
        </div>
    </div>
</div>
<script src="~/js/signalr.js"></script>
<script src="~/js/message.js"></script>
